/* ==========================================================================
   Page
   ========================================================================== */

 .header {
     padding-bottom: 6em; // 100px
     display: flex;
     justify-content: space-between;
     align-items: baseline;

     .title {
         font-size: 2.5em;
         font-weight: bold;
         color: $c-base__02;
         float: left;
     }

     .nav {
         font-size: 1.6em;
         margin-top: 10px;
         display: block;
         float: right;
     }
 }

.c-page {

}



.c-page__footer {
    margin-bottom: 10rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    p {
        @include fs--body;
        color: $c-base__01;
    }
}
